.button
    display inline-block
    text-transform uppercase
    font-weight 700
    font-size 16px
    color #ffffff
    padding 0 28px
    line-height 51px
    border-radius 30px
    background-color --red
    text-decoration none
    letter-spacing 1.5px
    border none
    cursor pointer
    &--text_small
        text-transform lowercase