.card_list
    // display flex
    height 618px
    width 1270px
    overflow visible
    // width 100%
    // max-width 1270px
    max-width 70vw
    margin 0
    .swiper-slide-active
        opacity 1
    @media (max-width 1023px)
        height auto
        max-width 90vw
        
.swiper-pagination-bullet 
    margin-right 10px

.swiper-pagination-bullet-active
    background #f80c0c

.card
    vertical-align top 
    // float left
    // margin-right 100px
    padding 45px 60px 50px 45px
    background #ffffff
    box-shadow 0 0 20px 1px #cecbcd
    height 618px
    // max-width 1270px
    width 1270px
    display flex
    opacity 0.5
    // flex-basis 70vw
    @media (max-width 1023px)
        height auto
        flex-direction column-reverse
        align-items center
        flex-wrap: wrap
        padding 0
        background: transparent
        box-shadow: none
        .h3
            display none

#cases
    @media (max-width 1023px)
        background #ffffff
    
    width 100%
    &--next
        opacity 0.5
    .h3
        margin 0

.card__left
    width 65%
    @media (max-width 1023px)
        width 100%
.card__right
    width 33%
    margin-left 2%
    @media (max-width 1023px)
        width 100%
        margin-left 0

.card__desc
    color #888888
    font-size 18px
    font-weight 300
    font-family --u
    margin-top 10px
    margin-bottom 25px

.card__name
    color #333333
    font-size 18px
    font-weight 500
    text-transform uppercase
    @media (max-width 1023px)
        display none

@media (max-width 1023px)
    .card_dots
        display none

.card__text
    font-size 16px
    color #333333
    @media (max-width 1023px)
        display none

.card__logo
    width 100%
    margin-bottom 30px
   
        
    &:after
        content ""
        width 100%
        clear both
        display block
    img 
        max-width 170px
        float right
        @media (max-width 1023px)
            margin 0 auto
            display block