.compos
    width 90%
    border 1px solid #c2bfc1
    margin-top 70px

.compos__block
    height 265px
    max-height 265px
    width 50%
    max-width 50%
    border-bottom 1px solid #c2bfc1
    border-right 1px solid #c2bfc1
    overflow hidden
    cursor pointer
    &:nth-child(3)
        border-bottom none
    &:nth-child(4)
        border-bottom none
    &:nth-child(2)
        border-right none
    &:nth-child(4)
        border-right none
    .jspVerticalBar
        opacity 0
        transition .3s
    &:hover
        background-color rgba(208, 11, 11, 0.5)
        transition .3s
        & .compos__text
            opacity 1
            transition .3s
        .jspVerticalBar
            opacity 1
            transition .3s
    @media (max-height 930px)
        height 200px
        max-height 200px

.compos__title
    color #fff
    margin-bottom 20px
    padding-left 20px
    padding-top 20px
    font-size 22px
    text-transform uppercase
    font-weight 500
    @media (max-width: 1024px)
        font-size 20px

.compos__text
    padding-left 20px
    padding-right 20px
    padding-bottom 20px
    color #fff
    font-size 16px
    font-weight 400
    opacity 0
    @media (max-width: 1024px)
        font-size 13px

.compos_mobile
    border none
    overflow: visible;
    max-width: 70vw;
    margin 0
    margin-bottom 30px
    .compos__block
        border none
        height auto
        // max-height none
        outline 0
        width 100%
        max-width none
        max-height 400px
        &:hover
            background-color transparent
    .compos__title
        padding-left 0
    .compos__text
        opacity 1
        padding-left 0