.couch_type_list
    margin-left -27px
    margin-top 20px
    display flex

.couch_type
    // 358px
    width calc(33.33333% - 27px)
    padding 20px 18px
    padding-bottom 0
    border 2px solid #ebebeb
    margin-left 27px

.couch_type__name
    font-size 18px
    font-weight 500
    color #333333
    margin-bottom 10px

.couch_type__text
    font-size 16px
    color #333333
    font-weight 400
    line-height 1.4
    margin-bottom 10px
    &--icon
        padding-left 27px
        position relative
        &:before
            content ""
            width 14px
            height 2px
            background #f80c0c
            position absolute
            left 0
            top 12px
        &:after
            content ""
            width 2px
            height 14px
            background #f80c0c
            position absolute
            left 6px
            top 6px

.couch_type__end
    font-size 16px
    font-weight 500
    color #f80c0c
    margin-bottom 10px