.dots
    display flex
    list-style none
    justify-content center
    li
        cursor pointer
        background #64656b
        width 8px
        height 8px
        border-radius: 50%
        margin-right 10px
        button
            visibility hidden

    .slick-active
        background #f3000e

.arrPrev
    position absolute
    z-index 201
    top 50%
    transform translateY(-50%)
    left -23px
    cursor pointer
    
.arrPrev__iside
    width 14px
    height 23px
    // background #000
    position relative
    &:before
        position absolute
        left 0
        top 0
        content ""
        width 2px
        height 14px
        display block
        background #a9a9a9
        transform rotate(45deg)
        transition .3s
    &:after
        position absolute
        left 0
        bottom 0
        content ""
        width 2px
        height 14px
        display block
        background #a9a9a9
        transform rotate(-45deg)
        transition .3s
    &:hover
        &:before, &:after
            background #f80c0c
            transition .3s

.arrNext
    position absolute
    top 50%
    transform translateY(-50%)
    right -23px
    cursor pointer

.arrNext__iside
    position relative
    width 14px
    height 23px
    // background #000
    &:before
        position absolute
        right 0
        top 0
        content ""
        width 2px
        height 14px
        display block
        background #a9a9a9
        transform rotate(-45deg)
        transition .3s
    &:after
        position absolute
        right 0
        bottom 0
        content ""
        width 2px
        height 14px
        display block
        background #a9a9a9
        transform rotate(45deg)
        transition .3s
    &:hover
        &:before, &:after
            background #f80c0c
            transition .3s

.card_dots
    margin-top 10px