.form
    max-width 650px
    width 100%
    background #ffffff
    padding 51px 48px
    &--mobile
        @media (max-width 1023px)
            display none
    h3.h3
        margin 0

form
    max-width 100%
    width 100%
    

.form__desc
    font-size 18px
    color #333333

.form__input_desc
    color #333333
    margin-bottom 8px

.form__input
    max-width 100%
    width 100%
    input 
        max-width 100%
        width 100%
        border 1px solid #d7d7d7
        font-size 16px
        padding 17px 26px
        outline: 0

.form__checkbox 
    display block
    margin-top 20px
    position relative
    input
        display none
        width 18px
        height 18px
        position absolute
        z-index 1001
    // label
    //     width 18px
    //     height 18px
    //     border 1px solid #d7d7d7
    //     display inline-block
    //     cursor pointer
    //     position relative
    
    div
        // margin-left 10px
        display block
        // padding-bottom 1px
        vertical-align top
        user-select none
        position relative
        padding-left 28px
        cursor pointer
        &:before
            content ""
            width 18px
            height 18px
            border 1px solid #d7d7d7
            display inline-block
            cursor pointer
            position absolute
            left 2px
            top 50%
            transform: translateY(-50%)

    // input[type="checkbox"] + div

    input[type="checkbox"]:checked + div
        &:after
            content ""
            width 14px
            height 14px
            background #d7d7d7
            position absolute
            left 5px
            top 50%
            transform: translateY(-50%)