.goods
    outline 0
    padding 0 16px

.goods__img
    img 
        margin 0 auto

.goods__title
    font-weight 500
    font-size 18px
    color #333333
    text-transform uppercase

.goods__desc
    font-size 16px
    color #888888

.goods_slider
    position relative
    margin-top 55px
        