.header
    padding 44px 42px
    position relative
    z-index 10
    &--fixed
        position fixed
        bottom 0
        top 0
        left 0
        right 0

.logo
    position fixed
    top 44px
    left 42px
    cursor pointer
    @media (max-width 1023px)
        left 15px

.header__phone
    z-index 1000
    position fixed
    top 44px
    right 42px
    font-weight 500
    fz(24px)
    color #fff
    text-decoration none
    transition: .3s
    &--black
        color #000
        transition: .3s
    @media (max-width 1023px)
        display none