.logo_slider
    display flex
    flex-wrap: wrap
    position relative
    align-items flex-start
    min-height 560px
    @media (max-width 1023px)
        justify-content space-around
        min-height auto

.logo_slider__slide
    flex 0 0 33%
    // width 33.33333%
    // max-width 33.33333%
    margin-bottom 70px
    display none
    align-items center
    justify-content center
    height 70px
    img 
        transform: scale(0)
        
    &--animate
        display flex
        // display inline-block
        img 
            animation: visual .9s
            transform: scale(1)

@keyframes visual 
    from
        transform: scale(0)
    to
        transform: scale(1)

.logo_slider__dots
    display flex
    position absolute
    bottom 0
    left 0
    @media (max-width 1023px)
        position static
        width 100%
        justify-content center
        margin-bottom 30px

.logo_slider__dot
    cursor pointer
    background #64656b
    width 8px
    height 8px
    border-radius: 50%
    margin-right 10px
    &--active
        background #f3000e !important
    @media (max-width 1023px)
        border 1px solid #ffffff
        background transparent