.menu
    list-style none
    padding 0
    margin 0
    display flex
    // flex-direction row
    transform rotate(-90deg)
    position fixed
    // position absolute
    bottom 44px
    top 44px
    left -783px
    align-items flex-end
    // opacity 0
    z-index 1000
    // @media (max-width: 1600px)
    //     left 0
    @media (max-width: 1024px)
        display none

    // float left
    &--black
        .menu__link
            color #000
            transition: .3s

.menu__item
    z-index 0
    position relative
    opacity 0.999

.menu__link
    // fz(16)
    // font-size 1rem
    text-transform uppercase
    text-decoration none
    color #fff
    margin-right 25px
    position relative
    font-size 16px
    font-weight 400
    letter-spacing: 1.25px;
    transition: .3s
    &--active
        &:after
            content: ""
            display block
            position: absolute
            width 100%
            height 2px
            background red
            top 50%
            transform: translateY(-50%)