.programs
    // margin-top 230px
    // margin-left -30px
    width 100% 
    overflow: visible
    // max-width: 90vw
    // margin-bottom 100px
    @media (max-width: 1023px)
        margin-top: 50px
        margin-bottom 50px
        margin-left 0
.program
    width 240px
    // margin-left 30px
    color #fff

.program__text
    margin-top 15px
    text-transform uppercase
    fz(15px)
    font-weight 500
    letter-spacing: 1.25px