.review
    display flex
    @media (max-width 1023px)
        display none

.review__img
    width 110px
    height 110px
    overflow hidden
    border-radius 50%
    img 
        max-width 100%
        width 110px

.review__right
    margin-left 20px

.review__name
    font-size 16px
    color #333333
    font-weight 500
    margin-bottom 8px

.review__desc
    font-size 16px
    color #888888
    font-weight 400
    margin-top 8px

.review__link
    font-weight bold
    font-size 16px
    text-transform uppercase
    color #f73e3e
    border-bottom 1px dotted #f73e3e
    text-decoration none