.screen
    width 100%
    // height 100vh
    // background green 
    background-size cover !important
    // position relative
    overflow hidden
    clip rect(0, auto, auto, 0)
    transform translateY(0)
    transition transform .9s
    position relative
    // transform matrix(1, 0, 0, 1, 0, -974)
    // &:nth-child(even)
    //     z-index 2
    @media (max-width: 600px)
        &:first-child
            min-height 560px
            .screen__content
                min-height 560px


.screen__content
    position relative
    z-index 99
    margin-left 194px
    // width 100%
    // height 100vh
    padding-top 100px
    // margin-top 10vh
    @media (max-width: 1400px)
        margin-left 8%
    @media (max-width: 1023px)
        margin-left 0
        padding-top 30px
    // @media (max-width: 600px)
    //     min-height 560px

#cases
    @media (max-width: 1023px)
        min-height auto
        .screen__content
            min-height auto

@media (max-width: 1023px)
    .screen__content
        height auto
        padding-top 4px
    .screen
        padding-left 15px
        padding-right 15px


.screen__fon, .team__fon
    width 100%
    height 100%
    position absolute
    left 0
    top 0
    background-size cover !important
    transition transform .9s
    & img, div
        // display none
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-size cover !important
        // transform scale(1.2)
        opacity 0
        // transition transform .9s
    &--amimate
         -webkit-animation bg .9s 0s
        -webkit-animation-fill-mode both
        animation-fill-mode both
        animation bg .9s 0s
        // transform scale(1) !important
        // opacity 1 !important both
        // transition transform .9s !important

@keyframes bg
    from
        transform scale(1.1)
        opacity 0
    to
        transform scale(1)
        opacity 1

@media (max-width 1023px)
    .screen__fon
        opacity 0.5
        background #f3000e !important
        width 100%
        height 100%