.jspContainer
    overflow hidden
    position relative
    max-width 100%

.jspPane
    position absolute

.jspVerticalBar
    position absolute
    top 0
    right 5px
    width 1px
    height 100%
    background rgba(208, 11, 11, 0.5)
    .jspArrow
        height 16px
        &:focus
            outline none

.jspHorizontalBar
    display none
    position absolute
    bottom 0
    left 0
    width 100%
    height 16px
    background red
    .jspCap
        float left
    .jspArrow
        width 16px
        float left
        height 100%

.jspCap
    display none

.jspTrack
    // background rgba(208, 11, 11, 0.1)
    position relative

.jspDrag
    background #fff
    position relative
    top 0
    right 2px
    cursor pointer
    width 3px

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
    float left
    height 100%

.jspArrow
    background #50506d
    text-indent -20000px
    display block
    cursor pointer
    padding 0
    margin 0
    &.jspDisabled
        cursor default
        background #80808d

.jspCorner
    background #eeeef4
    float left
    height 100%

*
    html
        .jspCorner
            margin 0 -3px 0 0