.constructor-left
	width 70%

.constructor-right
	width calc(30% - 30px)
	margin-left 30px

.constructor
	max-width 100%
	padding-top 100px
	counter-reset item
	transform translate(0%, 0)
	transition .5s
	&.started
		transform translate(0, 0)
	&__wrapper 
		position relative
		min-height 500px
	&__item
		position absolute
		width 360px
		top 0
		left 0
		counter-increment item
		transition .5s
		&--static
			position static
		// &.next
		// 	opacity .5
		// 	&.constructor__item
		// 		opacity .3
		// &.current
		// 	opacity  1

.advantage 
	&__img-wrapper 
		margin-bottom 10px
		min-height 282px
		display flex
		align-items flex-end
		position relative
		&:before
			content  "0" counter(item)
			font-size  100px
			color  #d2d2d2
			font-weight  500
			position  absolute
			bottom  60px
			left  130px
			z-index  -1
			transition  .5s
	// &__img
	&__link-wrapper 
		margin-bottom  10px 
	
	&__link 
		color  #333333 
		text-decoration  none 
		text-transform  uppercase 
		font-size  18px 
		line-height  24px 
		font-weight  500 
	
	&__text 
		font-size  16px 
		line-height  22px 
		padding-left  45px 
	
	&__text, &__link-wrapper
		transition  .5s

.collected:not(.first)
	& .advantage 
		&__text, &__link-wrapper, &__img-wrapper:before 
			opacity 0 
			visibility hidden

.constructor_mobile
	padding-top 0
	margin-bottom 30px
	.advantage__img-wrapper
		width 300px
		margin 0 auto

.advantage__text
	position relative
	&:before
		content: ''
		width 40px
		height 40px
		position absolute
		display block
		left 0
		top -10px
		background-image url(../img/plus.png)

.constructor-end
	position absolute
	left 100% !important
	top 0px
	width 756px
	opacity 0
	transition: .3s