.stage_list
    height 650px

.stage
    padding 40px 60px 50px 40px
    background #ffffff
    box-shadow 0 0 20px 1px #cecbcd
    width 100%
    max-width 90%
    margin-bottom 30px
    // margin-top 20px

    // height 630px !important
    span 
        font-weight 300
        color #bbbbbb
    .h3
        margin 0
        line-height 40px

.stage__tabs
    display flex
    border-bottom: 2px solid #bbbbbb

.stage__tab
    margin-top 18px
    font-size 28px
    font-weight 500
    color #bbbbbb
    text-transform uppercase
    margin-right 20px
    cursor pointer
    border-bottom: 2px solid transparent
    transform: translateY(2px)
    transition .3s
    user-select none
    &:hover
        color #f80c0c
        transition .3s
    &--active
        color #f80c0c
        border-color #f80c0c

.stage__section
    margin-top 20px

.stage__text
    font-size 18px
    color #333333
    &--grey
        color #888888

.stage__img_list
    margin-left -28px
    display flex

.stage__img
    margin-left 28px
    background #efefef
    // height 243px
    &--small
        width 360px
    &--big
        width 752px
    img
        max-width 100%
        max-height 243px
    
.stage__section
    display none
    &--active
        display block

.stage_dots_wrap
    height 100%

.stage_dots
    .swiper-pagination-bullet
        outline 0
        margin-bottom 10px
    .swiper-pagination-bullet-active
        background #f80c0c

.stage_counter__now
    font-weight 500
    font-size 90px
    color #f80c0c
.stage_counter__line
    width 20px
    height 4px
    background #bbbbbb
.stage_counter__all
    font-weight 500
    font-size 32px
    color #bbbbbb


.m-stage
    width 100%
    border 1px dashed #bbbbbb
    margin-bottom: 30px

.m-stage__block
    &:not(:last-child)
        border-bottom: 1px dashed #bbbbbb
    padding 10px 14px
    display flex

.m-stage__count
    font-weight 500
    font-size 20px
    color #f3000e
    margin-right 10px

.m-stage__title
    font-weight 500
    font-size 20px
    color #262626

.m-stage__text
    font-weight 400
    font-size 20px
    color #adadad