.team_list
    display flex
    flex-wrap wrap
    justify-content flex-end
    font-size 0
    margin-top 10%
    width 70%
    margin-bottom 30px
    @media (max-width: 1180px)
        width 90%
        justify-content flex-start
    @media (max-width: 650px)
        width 100%
.team
    background transparent
    vertical-align top
    cursor pointer
    // width 234px
    width calc(25%)
    min-height 234px
    padding 27px
    border 1px solid #b9b8b7
    display inline-block
    margin: -1px 0 0 -1px
    transition .3s
    &--active
        background #dd2020
    &:hover
        background #dd2020
        transition .3s
    &:nth-child(3)
        margin-right: calc(25% - 1px)
    @media (max-width: 1180px)
        margin-right 0 !important
    @media (max-width: 890px)
        width 33.33333%
    @media (max-width: 650px)
        width 50%
    @media (max-width: 480px)
        padding 9px
        min-height 143px
    // &:not(:first-child)
    //     border-left none
    // &--pseudo-first
    //     width 234.5px
    //     border-top none
    //     border-left 1px solid #b9b8b7 !important
    // &--border_bottom
    //     border none
    //     border-bottom 1px solid #b9b8b7 !important
    // &:not(.no_hover):hover
    //     background #dd2020
    //     transition .3s
    //     .team__status
    //         opacity 1
    //         transition .3s
    // &:last-child
    //     border-top 0
    //     width 234.5px

.team__name
    font-size 18px
    text-transform uppercase
    color #fff
    font-weight 500
    margin-bottom 10px
    line-height 25px
    @media (max-width: 480px)
        font-size 14px
        line-height 17px
        margin-bottom 4px

.team__status
    font-size 15px
    color #fff
    text-transform uppercase
    opacity 0.5
    line-height 22px
    transition .3s
    @media (max-width: 480px)
        font-size 12px
        line-height 17px

.cb
    clear both
    display block
    width 100%