block vars

.overflow

.left_popup
    .left_popup__close
        +icon('close')
    h2.h2
    p.left_popup__text
    .form.left_popup__form
        form(action="")
            h3.form__title.h3 Работать с нами

            p.form__desc Заполните форму и мы свяжемся с вами в ближайшее время

            .form__input
                p.form__input_desc Ваше имя
                input(type="text" placeholder="Имя")
            
            .form__input
                p.form__input_desc Телефон
                input.js-mask(type="tel" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _")
            
            .form__input
                p.form__input_desc Электронная почта
                input(type="email" placeholder="E-mail")

            label.form__checkbox
                input(type="checkbox")
                //- label
                div Согласие на обработку данных
            
            .flex.start_end
                input(type="submit" value="отправить заявку").button.button--text_small