block vars

header.header
    .logo.js-logo
        //- img(src="img/logo.png", alt="")
        +icon('logo')

    //- ul.menu
    //-     li.menu__item
    //-         a.menu__link(href="") работать с нами
    //-     li.menu__item
    //-         a.menu__link(href="") кейсы
    //-     li.menu__item
    //-         a.menu__link(href="") команда
    //-     li.menu__item
    //-         a.menu__link(href="") процесс
    //-     li.menu__item
    //-         a.menu__link(href="") составляющие
    //-     li.menu__item
    //-         a.menu__link(href="") преимущества

.menu.js-menu

    a.menu__link(href="" data-screen="7") работать с нами

    a.menu__link(href="" data-screen="6") кейсы

    a.menu__link(href="" data-screen="5") команда

    a.menu__link(href="" data-screen="4") процесс

    a.menu__link(href="" data-screen="3") составляющие

    a.menu__link(href="" data-screen="2") преимущества

a(href="tel:8 800 500-42-06").header__phone 8 800 500-42-06