/*
* Custom
*/
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i");
.icon-test {
  width: 16px;
  height: 16px;
}
.icon-star {
  width: 32px;
  height: 30px;
}
.icon-star path {
  fill: #fff;
}
.icon-logo {
  width: 283px;
  height: 15px;
}
.icon-logo path {
  fill: #fff;
  transition: 0.3s;
}
.icon-logo--black path {
  fill: #000;
  transition: 0.3s;
}
.icon-lvk {
  width: 21px;
  height: 11px;
}
.icon-lfb {
  width: 10px;
  height: 18px;
}
.icon-linst {
  width: 18px;
  height: 18px;
}
.icon-lyt {
  width: 21px;
  height: 16px;
}
.icon-close {
  width: 19px;
  height: 19px;
  position: absolute;
  right: 10%;
  top: 5%;
  cursor: pointer;
}
* {
  box-sizing: border-box;
}
html,
body {
  min-width: 100%;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background: #efefef;
}
html {
  font-size: 100%;
}
@media (max-width: 1300px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1023px) {
  html {
    font-size: 60%;
  }
}
.flex {
  display: -ms-flexbox;
  display: flex;
}
.flex_wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.vertical {
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 90%;
}
.center_start {
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.end_start {
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.end_full {
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.start_end {
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.start_full {
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.center {
  -ms-flex-pack: center;
      justify-content: center;
}
.flex_full {
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.h1 {
  font-weight: 500;
  font-size: 62px;
  font-size: 3.875rem;
  color: #333;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .h1 {
    font-size: 25px;
  }
}
.h1--white {
  color: #fff;
}
.h2 {
  font-weight: 500;
  font-size: 52px;
  font-size: 3.25rem;
  color: #333;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .h2 {
    font-size: 26px;
  }
}
.h2--white {
  color: #fff;
}
.h3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 42px;
  font-size: 2.625rem;
  color: #333;
}
.h4 {
  font-weight: 500;
  font-size: 28px;
  color: #333;
  text-transform: uppercase;
  margin: 0;
}
.page {
  width: 100%;
  height: auto;
}
.overflow {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 10000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  opacity: 0;
}
.left_popup {
  position: fixed;
  height: 100vh;
  background: #fff;
  width: 30%;
  z-index: 10001;
  right: -100%;
  top: 0;
  bottom: 0;
  padding: 100px 45px 0 45px;
}
@media (max-width: 1280px) {
  .left_popup {
    width: 45%;
    padding: 10px 20px 0 20px;
  }
}
@media (max-width: 1024px) {
  .left_popup {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .left_popup {
    width: 80%;
  }
}
.left_popup__text {
  font-size: 18px;
  color: #333;
}
.left_popup__form {
  padding: 0 !important;
  display: none;
}
.content {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
}
.wrap {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
}
.block_content {
  max-width: 100%;
}
.block_content--hidden {
  overflow: hidden;
}
.block_content__left {
  width: 50%;
}
.block_content__left--relative {
  position: relative;
}
.block_content__left--small {
  width: 10%;
}
@media (max-width: 1023px) {
  .block_content__left {
    width: 100%;
  }
}
.block_content__right {
  width: 50%;
}
.block_content__right--large {
  width: 90%;
}
@media (max-width: 1023px) {
  .block_content__right {
    width: 100%;
  }
}
.media {
  width: 100%;
}
@media (max-width: 1024px) {
  .media {
    display: none;
  }
}
.media__block {
  width: 100%;
}
.embed-container {
  position: relative;
  padding-bottom: 60%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.embed-container iframe h1,
.embed-container object h1,
.embed-container embed h1 {
  display: none;
}
.media__desc {
  font-weight: 500;
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
}
@media (max-width: 1023px) {
  .mobile_hidden {
    display: none;
  }
  .mobile_position {
    position: absolute !important;
    top: -100000%;
  }
}
.desctop_hidden {
  display: none !important;
}
@media (max-width: 1023px) {
  .desctop_hidden {
    display: block !important;
  }
}
.title {
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
  font-size: 18px;
  margin: 0;
  line-height: 36px;
}
.description {
  font-size: 26px;
  color: #333;
  line-height: 36px;
}
.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 0;
}
@media (max-width: 1023px) {
  #first-section {
    margin-top: 145px !important;
  }
  .title {
    font-size: 17px;
  }
  .description {
    font-size: 14px;
  }
  .text {
    font-size: 14px;
  }
}
.bold {
  font-weight: bold;
}
.social_block {
  position: absolute;
  bottom: 40px;
  right: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 11px;
}
.social_block a {
  margin-left: 32px;
}
@media (max-width: 1023px) {
  .social_block {
    display: none;
  }
}
.button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  padding: 0 28px;
  line-height: 51px;
  border-radius: 30px;
  background-color: #f80c0c;
  text-decoration: none;
  letter-spacing: 1.5px;
  border: none;
  cursor: pointer;
}
.button--text_small {
  text-transform: lowercase;
}
.card_list {
  height: 618px;
  width: 1270px;
  overflow: visible;
  max-width: 70vw;
  margin: 0;
}
.card_list .swiper-slide-active {
  opacity: 1;
}
@media (max-width: 1023px) {
  .card_list {
    height: auto;
    max-width: 90vw;
  }
}
.swiper-pagination-bullet {
  margin-right: 10px;
}
.swiper-pagination-bullet-active {
  background: #f80c0c;
}
.card {
  vertical-align: top;
  padding: 45px 60px 50px 45px;
  background: #fff;
  box-shadow: 0 0 20px 1px #cecbcd;
  height: 618px;
  width: 1270px;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.5;
}
@media (max-width: 1023px) {
  .card {
    height: auto;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    background: transparent;
    box-shadow: none;
  }
  .card .h3 {
    display: none;
  }
}
#cases {
  width: 100%;
}
@media (max-width: 1023px) {
  #cases {
    background: #fff;
  }
}
#cases--next {
  opacity: 0.5;
}
#cases .h3 {
  margin: 0;
}
.card__left {
  width: 65%;
}
@media (max-width: 1023px) {
  .card__left {
    width: 100%;
  }
}
.card__right {
  width: 33%;
  margin-left: 2%;
}
@media (max-width: 1023px) {
  .card__right {
    width: 100%;
    margin-left: 0;
  }
}
.card__desc {
  color: #888;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 10px;
  margin-bottom: 25px;
}
.card__name {
  color: #333;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 1023px) {
  .card__name {
    display: none;
  }
}
@media (max-width: 1023px) {
  .card_dots {
    display: none;
  }
}
.card__text {
  font-size: 16px;
  color: #333;
}
@media (max-width: 1023px) {
  .card__text {
    display: none;
  }
}
.card__logo {
  width: 100%;
  margin-bottom: 30px;
}
.card__logo:after {
  content: "";
  width: 100%;
  clear: both;
  display: block;
}
.card__logo img {
  max-width: 170px;
  float: right;
}
@media (max-width: 1023px) {
  .card__logo img {
    margin: 0 auto;
    display: block;
  }
}
.compos {
  width: 90%;
  border: 1px solid #c2bfc1;
  margin-top: 70px;
}
.compos__block {
  height: 265px;
  max-height: 265px;
  width: 50%;
  max-width: 50%;
  border-bottom: 1px solid #c2bfc1;
  border-right: 1px solid #c2bfc1;
  overflow: hidden;
  cursor: pointer;
}
.compos__block:nth-child(3) {
  border-bottom: none;
}
.compos__block:nth-child(4) {
  border-bottom: none;
}
.compos__block:nth-child(2) {
  border-right: none;
}
.compos__block:nth-child(4) {
  border-right: none;
}
.compos__block .jspVerticalBar {
  opacity: 0;
  transition: 0.3s;
}
.compos__block:hover {
  background-color: rgba(208,11,11,0.5);
  transition: 0.3s;
}
.compos__block:hover .compos__text {
  opacity: 1;
  transition: 0.3s;
}
.compos__block:hover .jspVerticalBar {
  opacity: 1;
  transition: 0.3s;
}
@media (max-height: 930px) {
  .compos__block {
    height: 200px;
    max-height: 200px;
  }
}
.compos__title {
  color: #fff;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .compos__title {
    font-size: 20px;
  }
}
.compos__text {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  opacity: 0;
}
@media (max-width: 1024px) {
  .compos__text {
    font-size: 13px;
  }
}
.compos_mobile {
  border: none;
  overflow: visible;
  max-width: 70vw;
  margin: 0;
  margin-bottom: 30px;
}
.compos_mobile .compos__block {
  border: none;
  height: auto;
  outline: 0;
  width: 100%;
  max-width: none;
  max-height: 400px;
}
.compos_mobile .compos__block:hover {
  background-color: transparent;
}
.compos_mobile .compos__title {
  padding-left: 0;
}
.compos_mobile .compos__text {
  opacity: 1;
  padding-left: 0;
}
.couch_type_list {
  margin-left: -27px;
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
}
.couch_type {
  width: calc(33.33333% - 27px);
  padding: 20px 18px;
  padding-bottom: 0;
  border: 2px solid #ebebeb;
  margin-left: 27px;
}
.couch_type__name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
}
.couch_type__text {
  font-size: 16px;
  color: #333;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 10px;
}
.couch_type__text--icon {
  padding-left: 27px;
  position: relative;
}
.couch_type__text--icon:before {
  content: "";
  width: 14px;
  height: 2px;
  background: #f80c0c;
  position: absolute;
  left: 0;
  top: 12px;
}
.couch_type__text--icon:after {
  content: "";
  width: 2px;
  height: 14px;
  background: #f80c0c;
  position: absolute;
  left: 6px;
  top: 6px;
}
.couch_type__end {
  font-size: 16px;
  font-weight: 500;
  color: #f80c0c;
  margin-bottom: 10px;
}
.dots {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: center;
      justify-content: center;
}
.dots li {
  cursor: pointer;
  background: #64656b;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
}
.dots li button {
  visibility: hidden;
}
.dots .slick-active {
  background: #f3000e;
}
.arrPrev {
  position: absolute;
  z-index: 201;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  left: -23px;
  cursor: pointer;
}
.arrPrev__iside {
  width: 14px;
  height: 23px;
  position: relative;
}
.arrPrev__iside:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 2px;
  height: 14px;
  display: block;
  background: #a9a9a9;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  transition: 0.3s;
}
.arrPrev__iside:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 2px;
  height: 14px;
  display: block;
  background: #a9a9a9;
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  transition: 0.3s;
}
.arrPrev__iside:hover:before,
.arrPrev__iside:hover:after {
  background: #f80c0c;
  transition: 0.3s;
}
.arrNext {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  right: -23px;
  cursor: pointer;
}
.arrNext__iside {
  position: relative;
  width: 14px;
  height: 23px;
}
.arrNext__iside:before {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  width: 2px;
  height: 14px;
  display: block;
  background: #a9a9a9;
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  transition: 0.3s;
}
.arrNext__iside:after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  width: 2px;
  height: 14px;
  display: block;
  background: #a9a9a9;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  transition: 0.3s;
}
.arrNext__iside:hover:before,
.arrNext__iside:hover:after {
  background: #f80c0c;
  transition: 0.3s;
}
.card_dots {
  margin-top: 10px;
}
.form {
  max-width: 650px;
  width: 100%;
  background: #fff;
  padding: 51px 48px;
}
@media (max-width: 1023px) {
  .form--mobile {
    display: none;
  }
}
.form h3.h3 {
  margin: 0;
}
form {
  max-width: 100%;
  width: 100%;
}
.form__desc {
  font-size: 18px;
  color: #333;
}
.form__input_desc {
  color: #333;
  margin-bottom: 8px;
}
.form__input {
  max-width: 100%;
  width: 100%;
}
.form__input input {
  max-width: 100%;
  width: 100%;
  border: 1px solid #d7d7d7;
  font-size: 16px;
  padding: 17px 26px;
  outline: 0;
}
.form__checkbox {
  display: block;
  margin-top: 20px;
  position: relative;
}
.form__checkbox input {
  display: none;
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 1001;
}
.form__checkbox div {
  display: block;
  vertical-align: top;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
}
.form__checkbox div:before {
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #d7d7d7;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: 2px;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}
.form__checkbox input[type="checkbox"]:checked + div:after {
  content: "";
  width: 14px;
  height: 14px;
  background: #d7d7d7;
  position: absolute;
  left: 5px;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}
.goods {
  outline: 0;
  padding: 0 16px;
}
.goods__img img {
  margin: 0 auto;
}
.goods__title {
  font-weight: 500;
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
}
.goods__desc {
  font-size: 16px;
  color: #888;
}
.goods_slider {
  position: relative;
  margin-top: 55px;
}
.header {
  padding: 44px 42px;
  position: relative;
  z-index: 10;
}
.header--fixed {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.logo {
  position: fixed;
  top: 44px;
  left: 42px;
  cursor: pointer;
}
@media (max-width: 1023px) {
  .logo {
    left: 15px;
  }
}
.header__phone {
  z-index: 1000;
  position: fixed;
  top: 44px;
  right: 42px;
  font-weight: 500;
  font-size: 24px;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.header__phone--black {
  color: #000;
  transition: 0.3s;
}
@media (max-width: 1023px) {
  .header__phone {
    display: none;
  }
}
.logo_slider {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -ms-flex-align: start;
      align-items: flex-start;
  min-height: 560px;
}
@media (max-width: 1023px) {
  .logo_slider {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-height: auto;
  }
}
.logo_slider__slide {
  -ms-flex: 0 0 33%;
      flex: 0 0 33%;
  margin-bottom: 70px;
  display: none;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 70px;
}
.logo_slider__slide img {
  -ms-transform: scale(0);
      transform: scale(0);
}
.logo_slider__slide--animate {
  display: -ms-flexbox;
  display: flex;
}
.logo_slider__slide--animate img {
  animation: visual 0.9s;
  -ms-transform: scale(1);
      transform: scale(1);
}
.logo_slider__dots {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 1023px) {
  .logo_slider__dots {
    position: static;
    width: 100%;
    -ms-flex-pack: center;
        justify-content: center;
    margin-bottom: 30px;
  }
}
.logo_slider__dot {
  cursor: pointer;
  background: #64656b;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
}
.logo_slider__dot--active {
  background: #f3000e !important;
}
@media (max-width: 1023px) {
  .logo_slider__dot {
    border: 1px solid #fff;
    background: transparent;
  }
}
@keyframes visual {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
  position: fixed;
  bottom: 44px;
  top: 44px;
  left: -783px;
  -ms-flex-align: end;
      align-items: flex-end;
  z-index: 1000;
}
@media (max-width: 1024px) {
  .menu {
    display: none;
  }
}
.menu--black .menu__link {
  color: #000;
  transition: 0.3s;
}
.menu__item {
  z-index: 0;
  position: relative;
  opacity: 0.999;
}
.menu__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  margin-right: 25px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.25px;
  transition: 0.3s;
}
.menu__link--active:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #f00;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}
.programs {
  width: 100%;
  overflow: visible;
}
@media (max-width: 1023px) {
  .programs {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0;
  }
}
.program {
  width: 240px;
  color: #fff;
}
.program__text {
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 500;
  letter-spacing: 1.25px;
}
.review {
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1023px) {
  .review {
    display: none;
  }
}
.review__img {
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 50%;
}
.review__img img {
  max-width: 100%;
  width: 110px;
}
.review__right {
  margin-left: 20px;
}
.review__name {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin-bottom: 8px;
}
.review__desc {
  font-size: 16px;
  color: #888;
  font-weight: 400;
  margin-top: 8px;
}
.review__link {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #f73e3e;
  border-bottom: 1px dotted #f73e3e;
  text-decoration: none;
}
.screen {
  width: 100%;
  background-size: cover !important;
  overflow: hidden;
  clip: rect(0, auto, auto, 0);
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: transform 0.9s;
  position: relative;
}
@media (max-width: 600px) {
  .screen:first-child {
    min-height: 560px;
  }
  .screen:first-child .screen__content {
    min-height: 560px;
  }
}
.screen__content {
  position: relative;
  z-index: 99;
  margin-left: 194px;
  padding-top: 100px;
}
@media (max-width: 1400px) {
  .screen__content {
    margin-left: 8%;
  }
}
@media (max-width: 1023px) {
  .screen__content {
    margin-left: 0;
    padding-top: 30px;
  }
}
@media (max-width: 1023px) {
  #cases {
    min-height: auto;
  }
  #cases .screen__content {
    min-height: auto;
  }
}
@media (max-width: 1023px) {
  .screen__content {
    height: auto;
    padding-top: 4px;
  }
  .screen {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.screen__fon,
.team__fon {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover !important;
  transition: transform 0.9s;
}
.screen__fon img,
.team__fon img,
.screen__fon div,
.team__fon div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  opacity: 0;
}
.screen__fon--amimate,
.team__fon--amimate {
  -webkit-animation: bg 0.9s 0s;
}
.screen__fon -webkit-animation-fill-mode both,
.team__fon -webkit-animation-fill-mode both {
  animation-fill-mode: both;
  animation: bg 0.9s 0s;
}
@media (max-width: 1023px) {
  .screen__fon {
    opacity: 0.5;
    background: #f3000e !important;
    width: 100%;
    height: 100%;
  }
}
@keyframes bg {
  from {
    transform: scale(1.1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.jspContainer {
  overflow: hidden;
  position: relative;
  max-width: 100%;
}
.jspPane {
  position: absolute;
}
.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 5px;
  width: 1px;
  height: 100%;
  background: rgba(208,11,11,0.5);
}
.jspVerticalBar .jspArrow {
  height: 16px;
}
.jspVerticalBar .jspArrow:focus {
  outline: none;
}
.jspHorizontalBar {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: #f00;
}
.jspHorizontalBar .jspCap {
  float: left;
}
.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}
.jspCap {
  display: none;
}
.jspTrack {
  position: relative;
}
.jspDrag {
  background: #fff;
  position: relative;
  top: 0;
  right: 2px;
  cursor: pointer;
  width: 3px;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}
.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}
.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}
* html .jspCorner {
  margin: 0 -3px 0 0;
}
.constructor-left {
  width: 70%;
}
.constructor-right {
  width: calc(30% - 30px);
  margin-left: 30px;
}
.constructor {
  max-width: 100%;
  padding-top: 100px;
  counter-reset: item;
  -ms-transform: translate(0%, 0);
      transform: translate(0%, 0);
  transition: 0.5s;
}
.constructor.started {
  -ms-transform: translate(0, 0);
      transform: translate(0, 0);
}
.constructor__wrapper {
  position: relative;
  min-height: 500px;
}
.constructor__item {
  position: absolute;
  width: 360px;
  top: 0;
  left: 0;
  counter-increment: item;
  transition: 0.5s;
}
.constructor__item--static {
  position: static;
}
.advantage__img-wrapper {
  margin-bottom: 10px;
  min-height: 282px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  position: relative;
}
.advantage__img-wrapper:before {
  content: "0" counter(item);
  font-size: 100px;
  color: #d2d2d2;
  font-weight: 500;
  position: absolute;
  bottom: 60px;
  left: 130px;
  z-index: -1;
  transition: 0.5s;
}
.advantage__link-wrapper {
  margin-bottom: 10px;
}
.advantage__link {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}
.advantage__text {
  font-size: 16px;
  line-height: 22px;
  padding-left: 45px;
}
.advantage__text,
.advantage__link-wrapper {
  transition: 0.5s;
}
.collected:not(.first) .advantage__text,
.collected:not(.first) .advantage__link-wrapper,
.collected:not(.first) .advantage__img-wrapper:before {
  opacity: 0;
  visibility: hidden;
}
.constructor_mobile {
  padding-top: 0;
  margin-bottom: 30px;
}
.constructor_mobile .advantage__img-wrapper {
  width: 300px;
  margin: 0 auto;
}
.advantage__text {
  position: relative;
}
.advantage__text:before {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  display: block;
  left: 0;
  top: -10px;
  background-image: url("../img/plus.png");
}
.constructor-end {
  position: absolute;
  left: 100% !important;
  top: 0px;
  width: 756px;
  opacity: 0;
  transition: 0.3s;
}
.stage_list {
  height: 650px;
}
.stage {
  padding: 40px 60px 50px 40px;
  background: #fff;
  box-shadow: 0 0 20px 1px #cecbcd;
  width: 100%;
  max-width: 90%;
  margin-bottom: 30px;
}
.stage span {
  font-weight: 300;
  color: #bbb;
}
.stage .h3 {
  margin: 0;
  line-height: 40px;
}
.stage__tabs {
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #bbb;
}
.stage__tab {
  margin-top: 18px;
  font-size: 28px;
  font-weight: 500;
  color: #bbb;
  text-transform: uppercase;
  margin-right: 20px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  -ms-transform: translateY(2px);
      transform: translateY(2px);
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.stage__tab:hover {
  color: #f80c0c;
  transition: 0.3s;
}
.stage__tab--active {
  color: #f80c0c;
  border-color: #f80c0c;
}
.stage__section {
  margin-top: 20px;
}
.stage__text {
  font-size: 18px;
  color: #333;
}
.stage__text--grey {
  color: #888;
}
.stage__img_list {
  margin-left: -28px;
  display: -ms-flexbox;
  display: flex;
}
.stage__img {
  margin-left: 28px;
  background: #efefef;
}
.stage__img--small {
  width: 360px;
}
.stage__img--big {
  width: 752px;
}
.stage__img img {
  max-width: 100%;
  max-height: 243px;
}
.stage__section {
  display: none;
}
.stage__section--active {
  display: block;
}
.stage_dots_wrap {
  height: 100%;
}
.stage_dots .swiper-pagination-bullet {
  outline: 0;
  margin-bottom: 10px;
}
.stage_dots .swiper-pagination-bullet-active {
  background: #f80c0c;
}
.stage_counter__now {
  font-weight: 500;
  font-size: 90px;
  color: #f80c0c;
}
.stage_counter__line {
  width: 20px;
  height: 4px;
  background: #bbb;
}
.stage_counter__all {
  font-weight: 500;
  font-size: 32px;
  color: #bbb;
}
.m-stage {
  width: 100%;
  border: 1px dashed #bbb;
  margin-bottom: 30px;
}
.m-stage__block {
  padding: 10px 14px;
  display: -ms-flexbox;
  display: flex;
}
.m-stage__block:not(:last-child) {
  border-bottom: 1px dashed #bbb;
}
.m-stage__count {
  font-weight: 500;
  font-size: 20px;
  color: #f3000e;
  margin-right: 10px;
}
.m-stage__title {
  font-weight: 500;
  font-size: 20px;
  color: #262626;
}
.m-stage__text {
  font-weight: 400;
  font-size: 20px;
  color: #adadad;
}
.team_list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: end;
      justify-content: flex-end;
  font-size: 0;
  margin-top: 10%;
  width: 70%;
  margin-bottom: 30px;
}
@media (max-width: 1180px) {
  .team_list {
    width: 90%;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
}
@media (max-width: 650px) {
  .team_list {
    width: 100%;
  }
}
.team {
  background: transparent;
  vertical-align: top;
  cursor: pointer;
  width: calc(25%);
  min-height: 234px;
  padding: 27px;
  border: 1px solid #b9b8b7;
  display: inline-block;
  margin: -1px 0 0 -1px;
  transition: 0.3s;
}
.team--active {
  background: #dd2020;
}
.team:hover {
  background: #dd2020;
  transition: 0.3s;
}
.team:nth-child(3) {
  margin-right: calc(25% - 1px);
}
@media (max-width: 1180px) {
  .team {
    margin-right: 0 !important;
  }
}
@media (max-width: 890px) {
  .team {
    width: 33.33333%;
  }
}
@media (max-width: 650px) {
  .team {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .team {
    padding: 9px;
    min-height: 143px;
  }
}
.team__name {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 25px;
}
@media (max-width: 480px) {
  .team__name {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 4px;
  }
}
.team__status {
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  opacity: 0.5;
  line-height: 22px;
  transition: 0.3s;
}
@media (max-width: 480px) {
  .team__status {
    font-size: 12px;
    line-height: 17px;
  }
}
.cb {
  clear: both;
  display: block;
  width: 100%;
}
