extends ../base

block content

	div#fullpage
		.screen(style="background: url(img/bg-fon-1.jpg) center center no-repeat")
			.screen__content.flex.vertical.flex_wrap.start_full
				#first-section.block_content(style="margin-top: 80px;")
					h1.h1.h1--white
						| СОЗДАдим 
						br
						|Внутрений учебный центр 
						br
						|за 10 недель
					a(href="/").button ПРезентация
				.block_content
					.programs.flex.swiper-container
						.swiper-wrapper
							.program.swiper-slide
								+icon('star')
								.program__text
									|Подготовка руководителя учебного центра и бизнес-тренеров
							.program.swiper-slide
								+icon('star')
								.program__text
									|Готовые программы обучения от мировых экспертов
							.program.swiper-slide
								+icon('star')
								.program__text
									|Авторские программы тренировок
							.program.swiper-slide
								+icon('star')
								.program__text
									|Автоматизация процесса обучения
							.program.swiper-slide
								+icon('star')
								.program__text
									|Стандарты, регламенты, бизнес-процессы
			.social_block
				a(href="" target="_blank")
					+icon('lvk')
				a(href="" target="_blank")
					+icon('lfb')
				a(href="" target="_blank")
					+icon('linst')
				a(href="" target="_blank")
					+icon('lyt')

		.screen(style="background-color: #FFFFFF;")
			.screen__content#constructor.mobile_position
				.block_content
					h2.h2 Преимущества учебного центра
					.flex
						.block_content__left.constructor-left
							h3.h3 Внутрений учебный центр - это

							p.description Самостоятельное подразделение, выполняющее полный цикл работ по обучению, адаптации, оценке сотрудников; работающее со специалистами всех уровней компании.

							p.title Предназначение:

							p.text
								| Полностью построить систему обучения, связанную с системой оценки, мотивации и кадрового развития и охватить единовременно большое количество сотрудников различных категорий. Создавать собственные учебные продукты а так же приобретать и адаптировать к потребностям бизнеса учебные продукты сторонних подрядчиков.

							p.title Результат:

							p.text Эффективные, квалифицированные, хорошо обученные и полностью выполняющие свои функции штатные сотрудники, которые достигают высоких результатов на своих постах.

							a(href="").button.js-popup Узнать подробнее
						
						.block_content__right.constructor-right(style="position: relative;")
							.constructor(data-constructor)
								.constructor__wrapper(data-constructor-wrapper)
									.constructor__item.first(data-constructor-item='{"x" : 0, "y" : 0, "zindex" : 0}')
										.advantage
											.advantage__img-wrapper
												img.advantage__img(src='https://image.ibb.co/dpRUwo/1.png', alt='')
											.advantage__link-wrapper
												a.advantage__link(href='#')
													| ОБЛЕГЧАЕТ РОСТ И РАЗВИТИЕ КОМПАНИИ, ЗАКРЫВАЕТ ПОТРЕБНОСТЬ В КВАЛИФИЦИРОВАННЫХ КАДРАХ И БЫСТРОЙПОДГОТОВКЕ НОВЫХ СОТРУДНИКОВ
											.advantage__text
												| вопрос кадров от рядовых сотрудников до руководителей в любом представительстве полностью закрыт
									.constructor__item(data-constructor-item='{"x" : 48, "y" : -60, "zindex" : -2}')
										.advantage
											.advantage__img-wrapper
												img.advantage__img(src='https://image.ibb.co/hNp4U8/5.png', alt='')
											.advantage__link-wrapper
												a.advantage__link(href='#')
													| НАКАПЛИВАЕТ КОРПОРАТИВНЫЕ ЗНАНИЯ (УСПЕШНЫЙ ОПЫТ) КОМПАНИИ И РАЗВИВАЕТ КУЛЬТУРУ ОРГАНИЗАЦИИ
											.advantage__text
												| Вы сможете быстро внедрять успешный опыт персонала и учить тому, что приносит результат в Вашем бизнесе
									.constructor__item(data-constructor-item='{"x" : 0, "y" : -64, "zindex" : 0}')
										.advantage
											.advantage__img-wrapper
												img.advantage__img(src='https://image.ibb.co/jPVB98/4.png', alt='')
											.advantage__link-wrapper
												a.advantage__link(href='#')
													| УМЕНЬШАЕТ ЗАВИСИМОСТЬ ОТ КОНКРЕТНЫХ СОТРУДНИКОВ-НОСИТЕЛЕЙ ТЕХНОЛОГИИ
											.advantage__text
												| снижение потерь при уходе "ценных" сотрудников из организации
									.constructor__item(data-constructor-item='{"x" : 49, "y" : -186, "zindex" : -3}')
										.advantage
											.advantage__img-wrapper
												img.advantage__img(src='https://image.ibb.co/eQ7DNT/6.png', alt='')
											.advantage__link-wrapper
												a.advantage__link(href='#')
													| СНИЖАЕТ ИЗДЕРЖКИ И ПОВЫШАЕТ ЭФФЕКТИВНОСТЬ ПРОГРАММ ОБУЧЕНИЯ ПЕРСОНАЛА ПО КРИТЕРИЯМ ЦЕНА/КАЧЕСТВО, СООТВЕТСТВИЯ НУЖДАМ И СТРАТЕГИИ КОМПАНИИ
											.advantage__text
												| Повышает доходность бизнеса компании
									.constructor__item(data-constructor-item='{"x" : 103, "y" : -30, "zindex" : -1}')
										.advantage
											.advantage__img-wrapper
												img.advantage__img(src='https://image.ibb.co/cut9wo/2.png', alt='')
											.advantage__link-wrapper
												a.advantage__link(href='#')
													| РАЗРАБАТЫВАЕТ И ВНЕДРЯЕТ АКТУАЛЬНОЕ И ЦЕЛЕНАПРАВЛЕННОЕ ОБУЧЕНИЕ
											.advantage__text
												| Вы полностью контролируете человеческий потенциал компании
									.constructor__item(data-constructor-item='{"x" : 104, "y" : -92, "zindex" : -1}')
										.advantage
											.advantage__img-wrapper
												img.advantage__img(src='https://image.ibb.co/ir8L2T/3.png', alt='')
											.advantage__link-wrapper
												a.advantage__link(href='#')
													| СОЗДАЕТ И ПОДДЕРЖИВАЕТ ПОЛОЖИТЕЛЬНЫЙ ИМИДЖ КОМПАНИИ
											.advantage__text
												| Привлекает способных кандидатов и новых потенциал компании клиентов, повышает срок партнерства с клиентами
							.block_content__left.constructor-end
								h3.h3 Внутрений учебный центр - это

								p.description Самостоятельное подразделение, выполняющее полный цикл работ по обучению, адаптации, оценке сотрудников; работающее со специалистами всех уровней компании.

								p.title Предназначение:

								p.text
									| Полностью построить систему обучения, связанную с системой оценки, мотивации и кадрового развития и охватить единовременно большое количество сотрудников различных категорий. Создавать собственные учебные продукты а так же приобретать и адаптировать к потребностям бизнеса учебные продукты сторонних подрядчиков.

								p.title Результат:

								p.text Эффективные, квалифицированные, хорошо обученные и полностью выполняющие свои функции штатные сотрудники, которые достигают высоких результатов на своих постах.

								a(href="").button.js-popup Узнать подробнее
			
			.screen__content.desctop_hidden
				.block_content
					h2.h2 Преимущества учебного центра
					.block_content
						h3.h3 Внутрений учебный центр - это

						p.description Самостоятельное подразделение, выполняющее полный цикл работ по обучению, адаптации, оценке сотрудников; работающее со специалистами всех уровней компании.

						p.title Предназначение:

						p.text
							| Полностью построить систему обучения, связанную с системой оценки, мотивации и кадрового развития и охватить единовременно большое количество сотрудников различных категорий. Создавать собственные учебные продукты а так же приобретать и адаптировать к потребностям бизнеса учебные продукты сторонних подрядчиков.

						p.title Результат:

						p.text Эффективные, квалифицированные, хорошо обученные и полностью выполняющие свои функции штатные сотрудники, которые достигают высоких результатов на своих постах.

						a(href="").button.js-popup Узнать подробнее
					
					.block_content
						.constructor_mobile.constructor.swiper-container
							.constructor__wrapper.swiper-wrapper
								.constructor__item.constructor__item--static.swiper-slide
									.advantage
										.advantage__img-wrapper
											img.advantage__img(src='https://image.ibb.co/dpRUwo/1.png', alt='')
										.advantage__link-wrapper
											a.advantage__link(href='#')
												| Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet laboriosam ipsum distinctio facere esse, molestias dignissimos maxime.
										.advantage__text
											| Distinctio deleniti laborum accusamus tempora, dolor dignissimos mollitia a atque cupiditate obcaecati deserunt pariatur eligendi. Quae alias mollitia a eveniet dolorem deleniti!
								.constructor__item.constructor__item--static.swiper-slide
									.advantage
										.advantage__img-wrapper
											img.advantage__img(src='https://image.ibb.co/hNp4U8/5.png', alt='')
										.advantage__link-wrapper
											a.advantage__link(href='#')
												| Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet laboriosam ipsum distinctio facere esse, molestias dignissimos maxime.
										.advantage__text
											| Distinctio deleniti laborum accusamus tempora, dolor dignissimos mollitia a atque cupiditate obcaecati deserunt pariatur eligendi. Quae alias mollitia a eveniet dolorem deleniti!
								.constructor__item.constructor__item--static.swiper-slide
									.advantage
										.advantage__img-wrapper
											img.advantage__img(src='https://image.ibb.co/jPVB98/4.png', alt='')
										.advantage__link-wrapper
											a.advantage__link(href='#')
												| Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet laboriosam ipsum distinctio facere esse, molestias dignissimos maxime.
										.advantage__text
											| Distinctio deleniti laborum accusamus tempora, dolor dignissimos mollitia a atque cupiditate obcaecati deserunt pariatur eligendi. Quae alias mollitia a eveniet dolorem deleniti!
								.constructor__item.constructor__item--static.swiper-slide
									.advantage
										.advantage__img-wrapper
											img.advantage__img(src='https://image.ibb.co/eQ7DNT/6.png', alt='')
										.advantage__link-wrapper
											a.advantage__link(href='#')
												| Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet laboriosam ipsum distinctio facere esse, molestias dignissimos maxime.
										.advantage__text
											| Distinctio deleniti laborum accusamus tempora, dolor dignissimos mollitia a atque cupiditate obcaecati deserunt pariatur eligendi. Quae alias mollitia a eveniet dolorem deleniti!
								.constructor__item.constructor__item--static.swiper-slide
									.advantage
										.advantage__img-wrapper
											img.advantage__img(src='https://image.ibb.co/cut9wo/2.png', alt='')
										.advantage__link-wrapper
											a.advantage__link(href='#')
												| Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet laboriosam ipsum distinctio facere esse, molestias dignissimos maxime.
										.advantage__text
											| Distinctio deleniti laborum accusamus tempora, dolor dignissimos mollitia a atque cupiditate obcaecati deserunt pariatur eligendi. Quae alias mollitia a eveniet dolorem deleniti!
								.constructor__item.constructor__item--static.swiper-slide
									.advantage
										.advantage__img-wrapper
											img.advantage__img(src='https://image.ibb.co/ir8L2T/3.png', alt='')
										.advantage__link-wrapper
											a.advantage__link(href='#')
												| Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet laboriosam ipsum distinctio facere esse, molestias dignissimos maxime.
										.advantage__text
											| Distinctio deleniti laborum accusamus tempora, dolor dignissimos mollitia a atque cupiditate obcaecati deserunt pariatur eligendi. Quae alias mollitia a eveniet dolorem deleniti!
					
		.screen(style="background: url(img/bg-fon-2.jpg) center center no-repeat")
			//- .screen__fon(style="background: url(img/3bg-fon-1.jpg) center center no-repeat")
			.screen__fon
			.screen__content
				
				.block_content
					h2.h2.h2--white главные составляющие Внутреннего 
						br
						|учебного центра

				.block_content.mobile_position
					.compos.flex.flex_wrap
						.compos__block(data-fon="1")
							.compos__title ПЕРСОНАЛ
							.compos__text
								|Для работы ВУЦ требуется
								ul
									li Руководитель, способный организовать процесс и эффективно им управлять.
									li Супервайзер, способный предоставлять учебные курсы очно и дистанционно.
									li Тренер, способный проводить тренировки для продавцов, стратегические сессии для руководителей и корпоративные семинары.
								|Мы обучим и будем консультационно сопровождать ход работы всех вышеперечисленных штатных единиц.
						
						.compos__block(data-fon="2")
							.compos__title КОНТЕНТ
							.compos__text
								| Учебные продукты адаптированные к потребностям бизнеса. 
								br
								| В качестве стартового набора мы предоставим 11 бизнес курсов по продажам, маркетингу, организации бизнес-процессов и личной эффективности от международных бизнес-тренеров, а также научим создавать эффективные программы обучения, которые будут интересны и полезны для штатных сотрудников.

						
						.compos__block(data-fon="3")
							.compos__title АВТОМАТИЗАЦИЯ
							.compos__text
								| LMS* — это что-то вроде вашего собственного онлайн-университета. Система помогает создавать и хранить электронные курсы, обеспечивает учащимся доступ к ним и помогает вам оценить результаты.
								br
								| С помощью LMS вы создаете единую базу электронных курсов и учебных материалов. Благодаря ей вы сохраняете и наращиваете внутреннюю экспертность компании.
								br
								| Даже если ваши сотрудники находятся в разных городах, вы можете обучить их всех, не выходя из собственного офиса.  К тому же, LMS автоматизирует всю самую скучную и монотонную работу, такие как проверка, сбор статистики и подготовка отчетов
								br
								span(style="font-style: italic;") *LMS - Learning Management System - Система Управления Обучением
						
						.compos__block(data-fon="4")
							.compos__title ПРАКТИКА
							.compos__text
								| Знание не превратиться в навык, и соответственно в правильно выполненное действие без достаточного количества тренировок.
								br
								| В рамках проекта по построению ВУЦ мы передадим в ваши руки авторские методики тренировок, а также проконтролируем стандарты их применения, что обеспечит формирование полезных привычек и позитивное изменение поведенческих мотивов сотрудников организации.
						
				.block_content.desctop_hidden
					.compos.compos_mobile.swiper-container
						.swiper-wrapper
							.compos__block.swiper-slide
								.compos__title ПЕРСОНАЛ
								.compos__text
									|Для работы ВУЦ требуется
									ul
										li Руководитель, способный организовать процесс и эффективно им управлять.
										li Супервайзер, способный предоставлять учебные курсы очно и дистанционно.
										li Тренер, способный проводить тренировки для продавцов, стратегические сессии для руководителей и корпоративные семинары.
									|Мы обучим и будем консультационно сопровождать ход работы всех вышеперечисленных штатных единиц.
						
							.compos__block.swiper-slide
								.compos__title КОНТЕНТ
								.compos__text
									| Учебные продукты адаптированные к потребностям бизнеса. 
									br
									| В качестве стартового набора мы предоставим 11 бизнес курсов по продажам, маркетингу, организации бизнес-процессов и личной эффективности от международных бизнес-тренеров, а также научим создавать эффективные программы обучения, которые будут интересны и полезны для штатных сотрудников.

							
							.compos__block.swiper-slide
								.compos__title АВТОМАТИЗАЦИЯ
								.compos__text
									| LMS* — это что-то вроде вашего собственного онлайн-университета. Система помогает создавать и хранить электронные курсы, обеспечивает учащимся доступ к ним и помогает вам оценить результаты.
									br
									| С помощью LMS вы создаете единую базу электронных курсов и учебных материалов. Благодаря ей вы сохраняете и наращиваете внутреннюю экспертность компании.
									br
									| Даже если ваши сотрудники находятся в разных городах, вы можете обучить их всех, не выходя из собственного офиса.  К тому же, LMS автоматизирует всю самую скучную и монотонную работу, такие как проверка, сбор статистики и подготовка отчетов
									br
									span(style="font-style: italic;") *LMS - Learning Management System - Система Управления Обучением
							
							.compos__block.swiper-slide
								.compos__title ПРАКТИКА
								.compos__text
									| Знание не превратиться в навык, и соответственно в правильно выполненное действие без достаточного количества тренировок.
									br
									| В рамках проекта по построению ВУЦ мы передадим в ваши руки авторские методики тренировок, а также проконтролируем стандарты их применения, что обеспечит формирование полезных привычек и позитивное изменение поведенческих мотивов сотрудников организации.

		.screen
			.screen__content
				.block_content
					h2.h2 Этапы создания учебного центра

				.block_content.flex.mobile_hidden
					.block_content__left.block_content__left--small
						.flex.vertical.flex_full
							.stage_counter
								.stage_counter__now
									| 01
								.stage_counter__line
								.stage_counter__all
									| 04
								
							.stage_dots_wrap
								.stage_dots.dots.vertical

					.block_content__right.block_content__right--large
						.stage_list.swiper-container
							.swiper-wrapper

								.stage.swiper-slide
									h3.h3 
										| Подготовка 
										span (СРОК ИСПОЛНЕНИЯ 4 НЕДЕЛИ)
									.stage__tabs
										.stage__tab.stage__tab--active 1 шаг

									.stage__section.stage__section--active
										h4.h4 
											|Создание материальной базы: помещение, столы, стулья, компьютеры, телевизор (проектор)
										
										p.stage__text
											| Стандарты внутреннего оснащения мы создаем индивидуально под вашу компанию.
										
										//- .stage__img_list
										//- 	.stage__img.stage__img--small
										//- 		img(src="img/2-1.jpg", alt="")
											//- .stage__img.stage__img--big
								
								.stage.swiper-slide
									h3.h3 
										| АДАПТАЦИЯ 
										span (СРОК ИСПОЛНЕНИЯ 4 НЕДЕЛИ)
									.stage__tabs
										.stage__tab.stage__tab--active 1 шаг  
										.stage__tab 2 шаг 
										.stage__tab 3 шаг

									.stage__section.stage__section--active
										h4.h4 
											|Учебный центр проводит стратегическую сессию для группы
											|руководителей всех подразделений компании.
										
										p.stage__text
											|Обученный бизнес-тренер помогает определить/обновить цели и совместно с руководителями прописывают программы по их достижению.
										
										.stage__img_list
											.stage__img.stage__img--small
												img(src="img/2-1.jpg", alt="")
											//- .stage__img.stage__img--big

									.stage__section
										h4.h4 Учебный центр разрабатывает/перерабатывает Стандарты в продажах и обслуживании клиентов

										.couch_type_list
											.couch_type
												.couch_type__name Тренер компании

												.couch_type__text.couch_type__text--icon
													|Стандарты работы тренера внутреннего учебного центра
												.couch_type__text.couch_type__text--icon
													|Практический курс “Профессиона-льный тренер продавцов”

												.couch_type__end Итог:
												.couch_type__text
													|Тренер компании, способный проводить тренировки для продавцов, стратеги- ческие сессии для руководителей и корпоративные семинары

											.couch_type
												.couch_type__name Руководитель

												.couch_type__text.couch_type__text--icon
													|Стандарты работы руководителя внутреннего учебного центра
												.couch_type__text.couch_type__text--icon
													|Практический курс “Руководитель учебного центра” и практический курс “Как обучать, развивать и мотивировать сотрудников”

												.couch_type__end Итог:
												.couch_type__text
													|Руководитель, способный создавать любое количество квалифицирован- ного персонала

											.couch_type
												.couch_type__name Супервайзер

												.couch_type__text.couch_type__text--icon
													|Стандарты работы супервайзера заочных курсов внутреннего учебного центра
												.couch_type__text.couch_type__text--icon
													|Практический курс “Профессиона- льный супервайзер заочных курсов”

												.couch_type__end Итог:
												.couch_type__text
													|Супервайзер, который может предоста- вить курс дистанционно и загрузить любой курс в систему

									.stage__section
										h4.h4 Учебный центр проводит большой корпоративный семинар-праздник в честь открытия. Можно привлечь СМИ.

										//- p.stage__text.stage__text--grey
										//- 	|Это ваш портал с фирменной символикой на вашем поддомене. Вся база знаний хранится у вас, ни у кого нет к ней доступа. 
										//- 	|Подгружаем на ваш портал наши он-лайн курсы. Передаем методические материалы по созданию стандартов и проведения тренировок:
										
										.goods_slider
											.goods
												.goods__img
													img(src="img/goods1.png", alt="")
												.goods__title “Цели и личная эффективность”
												.goods__desc Online - курс
											.goods
												.goods__img
													img(src="img/goods2.png", alt="")
												.goods__title “Стратегия экстраординарного обслуживания клиентов”
												.goods__desc Online - курс
											.goods
												.goods__img
													img(src="img/goods3.png", alt="")
												.goods__title “Технология активных продаж”
												.goods__desc Online - курс
											.goods
												.goods__img
													img(src="img/goods4.png", alt="")
												.goods__title “Упущенный компонент в продажах”
												.goods__desc Online - курс
											.goods
												.goods__img
													img(src="img/goods5.png", alt="")
												.goods__title “Искусство отработки возражений”
												.goods__desc Online - курс
											.goods
												.goods__img
													img(src="img/goods6.png", alt="")
												.goods__title “Искусство работы с жалобами”
												.goods__desc Online - курс
											.goods
												.goods__img
													img(src="img/goods7.png", alt="")
												.goods__title “К черту цены! Создавайте ценность!”
												.goods__desc Online - интенсив
										.dots_wrap.dots_wrap_slick

								.stage.swiper-slide
									h3.h3 
										| ЗАПУСК 
										span (СРОК ИСПОЛНЕНИЯ 4 НЕДЕЛИ)
									.stage__tabs
										.stage__tab.stage__tab--active 1 шаг  
										.stage__tab 2 шаг 
										.stage__tab 3 шаг

									.stage__section.stage__section--active
										h4.h4 
											|Разработка планограммы обучения для каждого сотрудника компании на 1 год (ЧТО/КТО/КОГДА) 
										
										//- p.stage__text
											|Обученный бизнес-тренер помогает определить/обновить цели и совместно с руководителями прописывают программы по их достижению.
										
										//- .stage__img_list
											.stage__img.stage__img--small
											.stage__img.stage__img--big

									.stage__section
										h4.h4 Запуск ДИСТАНЦИОННОГО ОБУЧЕНИЯ.

										.couch_type_list
											.couch_type
												.couch_type__name Тренер компании

												.couch_type__text.couch_type__text--icon
													|Стандарты работы тренера внутреннего учебного центра
												.couch_type__text.couch_type__text--icon
													|Практический курс “Профессиона-льный тренер продавцов”

												.couch_type__end Итог:
												.couch_type__text
													|Тренер компании, способный проводить тренировки для продавцов, стратеги- ческие сессии для руководителей и корпоративные семинары

											.couch_type
												.couch_type__name Руководитель

												.couch_type__text.couch_type__text--icon
													|Стандарты работы руководителя внутреннего учебного центра
												.couch_type__text.couch_type__text--icon
													|Практический курс “Руководитель учебного центра” и практический курс “Как обучать, развивать и мотивировать сотрудников”

												.couch_type__end Итог:
												.couch_type__text
													|Руководитель, способный создавать любое количество квалифицирован- ного персонала

											.couch_type
												.couch_type__name Супервайзер

												.couch_type__text.couch_type__text--icon
													|Стандарты работы супервайзера заочных курсов внутреннего учебного центра
												.couch_type__text.couch_type__text--icon
													|Практический курс “Профессиона- льный супервайзер заочных курсов”

												.couch_type__end Итог:
												.couch_type__text
													|Супервайзер, который может предоста- вить курс дистанционно и загрузить любой курс в систему

									.stage__section
										h4.h4 Организация тренировок для продавцов по авторской методике.

										//- p.stage__text.stage__text--grey
											|Это ваш портал с фирменной символикой на вашем поддомене. Вся база знаний хранится у вас, ни у кого нет к ней доступа. 
											|Подгружаем на ваш портал наши он-лайн курсы. Передаем методические материалы по созданию стандартов и проведения тренировок:
										
										.goods_slider
											.goods
												.goods__img
													img(src="img/goods1.png", alt="")
												.goods__title “Цели и личная эффективность”
												.goods__desc Online - курс
											.goods
												.goods__img
													img(src="img/goods2.png", alt="")
												.goods__title “Стратегия экстраординарного обслуживания клиентов”
												.goods__desc Online - курс
											.goods
												.goods__img
													img(src="img/goods3.png", alt="")
												.goods__title “Технология активных продаж”
												.goods__desc Online - курс
											.goods
												.goods__img
													img(src="img/goods4.png", alt="")
												.goods__title “Упущенный компонент в продажах”
												.goods__desc Online - курс
											.goods
												.goods__img
													img(src="img/goods5.png", alt="")
												.goods__title “Искусство отработки возражений”
												.goods__desc Online - курс
											.goods
												.goods__img
													img(src="img/goods6.png", alt="")
												.goods__title “Искусство работы с жалобами”
												.goods__desc Online - курс
											.goods
												.goods__img
													img(src="img/goods7.png", alt="")
												.goods__title “К черту цены! Создавайте ценность!”
												.goods__desc Online - интенсив
										.dots_wrap.dots_wrap_slick

								.stage.swiper-slide
									h3.h3 
										| НОРМАЛЬНАЯ ДЕЯТЕЛЬНОСТЬ 
										span (СРОК ИСПОЛНЕНИЯ 4 НЕДЕЛИ)
									.stage__tabs
										.stage__tab.stage__tab--active 1 шаг  
										.stage__tab 2 шаг 
										.stage__tab 3 шаг

									.stage__section.stage__section--active
										h4.h4 
											|Тренер проводит тренировки, супервайзер предоставляет курсы дистанционно, руководитель взаимодействует с подразделениями компании с целью контроля Ключевых Показателей эффективности (статистик) выпускников и коррекции.
										
										//- p.stage__text
										//- 	|Обученный бизнес-тренер помогает определить/обновить цели и совместно с руководителями прописывают программы по их достижению.
										
										//- .stage__img_list
											.stage__img.stage__img--small
											.stage__img.stage__img--big

									.stage__section
										h4.h4 Руководитель занимается подбором/разработкой программ обучения для ключевых постов в компании.

										.couch_type_list
											.couch_type
												.couch_type__name Тренер компании

												.couch_type__text.couch_type__text--icon
													|Стандарты работы тренера внутреннего учебного центра
												.couch_type__text.couch_type__text--icon
													|Практический курс “Профессиона-льный тренер продавцов”

												.couch_type__end Итог:
												.couch_type__text
													|Тренер компании, способный проводить тренировки для продавцов, стратеги- ческие сессии для руководителей и корпоративные семинары

											.couch_type
												.couch_type__name Руководитель

												.couch_type__text.couch_type__text--icon
													|Стандарты работы руководителя внутреннего учебного центра
												.couch_type__text.couch_type__text--icon
													|Практический курс “Руководитель учебного центра” и практический курс “Как обучать, развивать и мотивировать сотрудников”

												.couch_type__end Итог:
												.couch_type__text
													|Руководитель, способный создавать любое количество квалифицирован- ного персонала

											.couch_type
												.couch_type__name Супервайзер

												.couch_type__text.couch_type__text--icon
													|Стандарты работы супервайзера заочных курсов внутреннего учебного центра
												.couch_type__text.couch_type__text--icon
													|Практический курс “Профессиона- льный супервайзер заочных курсов”

												.couch_type__end Итог:
												.couch_type__text
													|Супервайзер, который может предоста- вить курс дистанционно и загрузить любой курс в систему

									.stage__section
										h4.h4 Сопровождение учебного центра нашим специалистом в течение года: собираем данные, делаем коррекцию (если необходимо).

										//- p.stage__text.stage__text--grey
										//- 	|Это ваш портал с фирменной символикой на вашем поддомене. Вся база знаний хранится у вас, ни у кого нет к ней доступа. 
										//- 	|Подгружаем на ваш портал наши он-лайн курсы. Передаем методические материалы по созданию стандартов и проведения тренировок:
										
										.goods_slider
											.goods
												.goods__img
													img(src="img/goods1.png", alt="")
												.goods__title “Цели и личная эффективность”
												.goods__desc Online - курс
											.goods
												.goods__img
													img(src="img/goods2.png", alt="")
												.goods__title “Стратегия экстраординарного обслуживания клиентов”
												.goods__desc Online - курс
											.goods
												.goods__img
													img(src="img/goods3.png", alt="")
												.goods__title “Технология активных продаж”
												.goods__desc Online - курс
											.goods
												.goods__img
													img(src="img/goods4.png", alt="")
												.goods__title “Упущенный компонент в продажах”
												.goods__desc Online - курс
											.goods
												.goods__img
													img(src="img/goods5.png", alt="")
												.goods__title “Искусство отработки возражений”
												.goods__desc Online - курс
											.goods
												.goods__img
													img(src="img/goods6.png", alt="")
												.goods__title “Искусство работы с жалобами”
												.goods__desc Online - курс
											.goods
												.goods__img
													img(src="img/goods7.png", alt="")
												.goods__title “К черту цены! Создавайте ценность!”
												.goods__desc Online - интенсив
										.dots_wrap.dots_wrap_slick

				.block_content.desctop_hidden
					.m-stage
						.m-stage__block
							.m-stage__count 01
							.m-stage__right
								.m-stage__title
									| Подготовка 
								.m-stage__text
									| (СРОК ИСПОЛНЕНИЯ 4 НЕДЕЛИ)
						.m-stage__block
							.m-stage__count 02
							.m-stage__right
								.m-stage__title
									| Подготовка 
								.m-stage__text
									| (СРОК ИСПОЛНЕНИЯ 4 НЕДЕЛИ)
						.m-stage__block
							.m-stage__count 03
							.m-stage__right
								.m-stage__title
									| Подготовка 
								.m-stage__text
									| (СРОК ИСПОЛНЕНИЯ 4 НЕДЕЛИ)
						.m-stage__block
							.m-stage__count 04
							.m-stage__right
								.m-stage__title
									| Подготовка 
								.m-stage__text
									| (СРОК ИСПОЛНЕНИЯ 4 НЕДЕЛИ)

		.screen(style="background: url(img/5bg-fon-5.jpg) center center no-repeat")
			.team__fon
			.screen__content
				.block_content
					h2.h2.h2--white КОМАНДА

				.block_content
					.team_list
						.team.js-team(data-fon="1" data-title="Анатолий Жильцов" data-text='<p>Президент 5Star.Academy;</p> <p>Продюсер международного бизнес-тренера  Майкла Бенга;</p> <p>Атташе консула по экономическому взаимодействию (Генеральное консульство республики Сейшелы по Урало-Поволжскому Ф.О.);</p> <p>Партнёр        и адвайзер проекта Platform24, владелец коммерческой недвижимости.</p>')
							.team__name
								| Анатолий 
								br 
								| Жильцов
							.team__status
								| Президент “5-Star 
								br 
								| Academy”
						.team.js-team(data-fon="2" data-title="Анастасия Шлотгауэр" data-text='<p>Исполнительный директор 5Star.Academy;</p> <p>Совладелица консалтингового, издательского и девелопмент бизнесов;</p> <p>Продюсер;</p> <p>Счастливая мама.</p>')
							.team__name 
								|Анастасия 
								br 
								| Шлотгауэр
							.team__status 
								| Исполнительный 
								br 
								| директор “5-Star
								br 
								| Academy”
						.team.js-team(data-fon="3" data-title="Александр Кнутарев" data-text='<p class="bold">Руководитель отделения расширения "5-Star. Academy"</p><p>Практик с 14-летним опытом в сфере продаж. За это время обучил техникам продаж и взаимодействию с клиентами более 500 человек.</p><p>Разработал индивидуальные программы по обучению и тренировкам в области продаж для 350 компаний.</p><p>Лично провёл диагностики отделов продаж:</p><p><span class="bold">3 250 продавцов,</span> менеджеров и консультантов аттестовано по уровню навыков.</p><p><span class="bold">900 часов</span> индивидуальных интервью с владельцами компаний по стратегии развития бизнеса и росту объёмов продаж.</p>' )
							.team__name 
								| Александр 
								br 
								| Кнутарев
							.team__status 
								| Руководитель 
								br 
								| отделения 
								br 
								| расширения 
								br 
								| "5-Star Academy"
						
						.team.team--pseudo-first.js-team(data-fon="4" data-title="Оксана Харитонова" data-text='<p class="bold">Специалист по построению организации и внедрению корпоративной системы обучения.</p><p>Имеет более чем пятилетний опыт внедрения корпоративной системы обучения Майкла Бенга в компаниях с численностью от 150 до более 3 000 человек, среди которых агрохолдинг "Равис" (птицефабрика Сосновская), группа компаний "Янус", рекламное агентство "Элефант", сеть цветочных салонов Fan fan tulpan, областная сеть газет "Метро 74", "City сервис". и т.д.</p><p>Более 15 лет работала руководителем направлений найма и обучения, маркетинга и рекламы, является профессиональным журналистом, редактором и ведущей программ радио и телевидения. Имеет более 100 благодарностей от владельцев бизнесов за вклад в развитие их компаний.</p>' )
							.team__name 
								| Оксана 
								br 
								| Харитонова
							.team__status 
								| Специалист
								br 
								| по построению 
								br 
								| организации
						.team.js-team(data-fon="5" data-title="Майкл Бэнг" data-text='<p>Основатель 5Star.Academy;</p> <p>Международный Бизнес-Тренер;</p> <p>Обучил лично более 100’000 человек;</p> <p>Автор программ по подготовке персонала в области продаж, сервиса и личной эффективности.</p>')
							.team__name 
								| Майкл 
								br 
								| Бэнг
							.team__status 
								| Основатель “5-Star
								br 
								| Academy”

		.screen#cases
			.screen__content
				.block_content
					h2.h2 Кейсы
				
				.block_content.block_content--hidden

					.card_list.swiper-container
						.swiper-wrapper
							.card.swiper-slide
								.card__left
									h3.h3 Аякс-Риэлт
									.card__desc
										|Покупка, продажа, аренда. оформление, оценка - весь спектор риэлторских услуг

									.card__name Задача:
									p.card__text
										| Решить вопрос систематизации обучения, сделать вход в компанию более качественным. Создать систему адаптации и быстрой постановки на пост.

									.card__name Что мы сделали:
									p.card__text
										|Внедрилили систему обучения продажам в готовую структуру внутреннего учебного центра; Создали Стандарты по продажам и Книгу скриптов; Провели профильную переподготовку штатных тренеров

									.card__name Результат:
									p.card__text
										|Сократили время на подготовку и адаптацию новых сотрудников до 5 дней; Увеличили конверсию встреч в подписанные контракты

									.review
										.review__img
											img(src="img/review1.jpg", alt="")
										.review__right
											p.review__name Глебова Наталья
											p.review__desc управляющий директор компании “АЯКС-Риэлт”
											a(href="").review__link(data-text='<p class="bold">Глебова Наталья, управляющий директор компании “АЯКС Риэлт”</p><p>«Приобретая корпоративную систему обучения мы хотели решить вопрос систематизации обучения, сделать вход в компанию более качественным. Там четко понятно, что делать тренеру, что делать стажеру, какой результат они должны получить. По мере изучения и внедрения этого продукта, я получила больше, чем ожидала. Я уверена, что эта система принесет увеличение эффективности работы сотрудников».</p>') Читать отзыв

								.card__right
									.card__logo
										img(src="img/review-logo1.jpg", alt="")
									.media
										.media__block
											.embed-container
												iframe(src="https://player.vimeo.com/video/266479518" width="100%" height="auto" webkitallowfullscreen mozallowfullscreen allowfullscreen)

										.media__desc
											|видео Отзыв компании “Аякс” о “5-Star Sales System”
							
							.card.swiper-slide
								.card__left
									h3.h3 МАВТ - винотека
									.card__desc Сеть алкомаркетов

									p.card__name Задача:
									p.card__text
										| Отстроиться от конкурентов; Поднять уровень компетентности персонала в вопросах взаимодействия с клиентами - продажи и сервис.

									p.card__name Что мы сделали:
									p.card__text
										| Провели 3-х дневный тренинг «Стратегия экстраординарного обслуживания клиентов» для топ-менеджеров компании; Встроили в существующий учебный центр авторские курсы по продажам, сервису, личной эффективности; Провели переподготовку руководителя учебного центра и штатного тренера

									p.card__name Результат:
									p.card__text
										| Плюс 30 % прибыли каждый год

									.review
										.review__img
											img(src="", alt="")
										.review__right
											p.review__name Виолетта Саркисян
											p.review__desc Руководитель розничной сети «МАВТ»
											a(href="").review__link(data-text='<p class="bold">Виолетта Саркисян, Руководитель Розничной Сети «МАВТ»</p><p>«Я на посту Руководителя нахожусь менее года. Сама не проходила курсы Майкла Бенга, но наслышана от сотрудников компании об их ценности. Сейчас у нас действует свой Учебный Центр. Программа обучения  –  Знание продукта компании по аттестациям «КАВИСТ ПО ВИНУ» и «КАВИСТ КРЕПКИХ АЛКОГОЛЬНЫХ НАПИТКОВ»  и уже на знание продукта мы накладываем ТЕХНИКИ ПРОДАЖ И ВЗАИМОДЕЙСТВИЯ С КЛИЕНТОМ, по программам 5Star.Academy. Данный подход позволяет брать не обученных кандидатов с рынка и делать из них компетентных сотрудников, которые способны правильно обслуживать клиента. У нас есть несколько тренеров, которые занимаются обучением сотрудников и повышением их навыков. Ежегодно мы растем. Я не могу сказать о том, на сколько, это коммерческая тайна, но могу сказать, что за последний год мы приросли по Выручке в проценте больше, чем планировали.</p>') Читать отзыв

								.card__right
									.card__logo
										img(src="img/review-logo2.jpg", alt="")
									.media
										.media__block
											.embed-container
												iframe(src="https://player.vimeo.com/video/266479518" width="100%" height="auto" webkitallowfullscreen mozallowfullscreen allowfullscreen)
										.media__desc
											|Опыт внедрения “5-Star Sales System” в компании “МАВТ-винотека”

							.card.swiper-slide
								.card__left
									h3.h3 Идея плюс
									.card__desc Одна из передовых компаний в сфере строительно-отделочных материалов

									p.card__name Задача:
									p.card__text Удержать позиции на падающем рынке; Снизить издержки на подбор и адаптацию персонала

									p.card__name Что мы сделали:
									p.card__text Построили внутренний учебный центр. В качестве тренера обучится сам владелец компании.; Персонал прошел все программы обучения на 2 круга течение года.

									p.card__name Результат:
									p.card__text Рост прибыли на падающем рынке; Проводя тренинги для нового персонала, владелец смог определять будущую продуктивность сотрудника на 100 процентов. Сократил затраты на найм и адаптацию с 3-х месяцев до 2-х дней.

									.review
										.review__img
											img(src="", alt="")
										.review__right
											p.review__name Евгении Исаченко
											p.review__desc Владелец и руководитель компании “Идея Плюс”
											a(href="").review__link(data-text='<p class="bold">Евгений Исаченко, владелец и руководитель компании Идея Плюс (идеяплюсИсаченко.jpg)”</p><p>«Ситуация, которая произошла на рынке и то, что происходит - мы просели меньше всех. По опросам партнеров, друзей, мы просели чуть ли не в половину меньше, чем все остальные. Обучение дает уверенность сотрудникам как правильно работать, как правильно общаться, презентовать товар. Сотрудники стали более профессиональные, у них появилось желание больше реализовать себя и больше зарабатывать. Я знаю, что мои сотрудники умеют продавать, каким образом себя вести, чтобы предоставить хороший сервис покупателям.</p><p>Никто не готовит специалистов для наших компаний, особенно тех, кто занимается продажами. Когда я это понял, я не знал, что делать. А то, что я купил – это комплексное решение. Ты берешь этот продукт, приносишь в компанию, начинаешь по нему учиться, тренироваться и работать. И тебе не нужно самому додумывать, не надо писать никакие программы, просто берешь и воплощаешь это в жизнь. На выходе результат – уверенные сотрудники в отделе продаж».</p>') Читать отзыв

								.card__right
									.card__logo
										img(src="img/review-logo3.jpg", alt="")
									.media
										.media__block
											.embed-container
												iframe(src="https://player.vimeo.com/video/266479518" width="100%" height="auto" webkitallowfullscreen mozallowfullscreen allowfullscreen)
										.media__desc
											|Опыт внедрения “5-Star Sales System” в компании “Идея Плюс”
							
							.card.swiper-slide
								.card__left
									h3.h3 ЯНУС
									.card__desc Фабрика «Уральские пельмени» (Производственная компания «Янус») г. Челябинск.

									p.card__name Задача:
									p.card__text
										| А. Перезарядить команду, увидеть собственное могущество и направить его на завоевание рынка.; Б. Стандартизировать технологию активных продаж – собрать успешные действия из разных регионов, уложить все единую структуру.; В. Внутри компании построить структуру, способную поддерживать и тиражировать созданные стандарты.

									p.card__name Что мы сделали:
									p.card__text 
										| 1. Подготовили к открытию региональный обучающий центр компании. Обучили четырех внутренних тренеров, и разработали план обучения.; 2. Провели стратегическую сессию для 25 топ менеджеров группы компаний.; 3. Провели групповые тренинги (50-200 человек) по продажам, сервису и личной эффективности.

									.review
										.review__img
											img(src="", alt="")
										.review__right
											p.review__name Игорь Николаевич Савушкин
											p.review__desc совладелец, директор по развитию ГК “ЯНУС”
											a(href="").review__link(data-text='<p class="bold">Савушкин Игорь, совладелец и директор по развитию ГК «ЯНУС»</p><P>Большой бизнес - это постоянная война. </p><P>В нашей компании больше 2000 сотрудников, производства, торговые марки, торговая сеть, представительства во всех крупных городах России...</p>Конечно с помощью одного семинара или даже целой программы обучения всех вопросов не решить. </p><P>Слишком много факторов влияющих на успех. </p><P>Но в этой войне я однозначно рад что 5Star Academy наш верный союзник. </p><P>Их уровень профессионализма достоен большой игры. </p><P>Мы сделали свой выбор и со временем воспользовались всеми продуктами, которые ребята нам предложили. </p><P>Совместно построили внутренний отдел обучения в нашей компании, который действует на постоянной основе. </p><P>Нисколько не жалею. </p><P>И сам я сейчас упорно работаю над внедрением собственных идей, которые появились в результате прохождении последней программы. </p>') Читать отзыв

								.card__right
									.card__logo
										img(src="img/review-logo4.jpg", alt="")
									.media
										.media__block
											.embed-container
												iframe(src="https://player.vimeo.com/video/266479518" width="100%" height="auto" webkitallowfullscreen mozallowfullscreen allowfullscreen)
										.media__desc
											|Приобретение Пятизвездочной системы продаж
					.card_dots


		.screen(style="background: url(img/bg-fon-4.jpg) center center no-repeat")
			.screen__content
				.block_content
					h2.h2.h2--white С нами уже Работают
				
				.block_content.flex
					.block_content__left.block_content__left--relative
						
						- var x = 22;
						.logo_slider
							- for(var i = 1; i < x; i++)
								.logo_slider__slide
									img(src="img/c-logo" + i +".png ")
						.logo_slider__dots
							

					.block_content__right.form--mobile
						.form
							form(action="")
								h3.form__title.h3 Работать с нами

								p.form__desc Заполните форму и мы свяжемся с вами в ближайшее время

								.form__input
									p.form__input_desc Ваше имя
									input(type="text" placeholder="Имя")
								
								.form__input
									p.form__input_desc Телефон
									input.js-mask(type="tel" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _")
								
								.form__input
									p.form__input_desc Электронная почта
									input(type="email" placeholder="E-mail")

								label.form__checkbox
									input(type="checkbox")
									//- label
									div Согласие на обработку данных
								
								.flex.start_end
									input(type="submit" value="отправить заявку").button
				
				.flex.center
					a(href="" style="margin-bottom: 30px").button.js-popup.desctop_hidden Работать с нами

			.social_block
				a(href="" target="_blank")
					+icon('lvk')
				a(href="" target="_blank")
					+icon('lfb')
				a(href="" target="_blank")
					+icon('linst')
				a(href="" target="_blank")
					+icon('lyt')