*{
	box-sizing border-box
}

html, body
	min-width 100%
	height 100%
	font-family 'Rubik', sans-serif
	font-weight 400
	// overflow hidden
	overflow-x hidden
	background #efefef

// body
// 	position relative

html
	font-size 100%
	@media (max-width: 1300px)
		font-size 75%
	+below(1023px)
		font-size 60%

.flex
	display flex

.flex_wrap
	flex-wrap wrap

.vertical
	flex-direction column
	min-height 90%

.center_start
	align-items center 
	align-content center
	justify-content flex-start

.end_start
	align-items flex-end
	align-content flex-end
	justify-content flex-start

.end_full
	align-items flex-end
	justify-content space-between

.start_end
	align-items flex-start
	justify-content flex-end

.start_full
	align-items flex-start
	justify-content space-between

.center
	justify-content center

.flex_full
	align-items flex-start
	justify-content space-between

.h1
	font-weight 500
	fz(62px)
	color #333333
	text-transform uppercase
	// lh(10px)
	@media (max-width 480px)
		font-size 25px
	&--white
		color #fff

.h2
	font-weight 500
	fz(52px)
	color #333333
	text-transform uppercase
	// lh(10px)
	@media (max-width: 480px)
		font-size 26px
	&--white
		color #fff

.h3
	font-weight 500
	text-transform uppercase
	fz(42px)
	color #333333

.h4
	font-weight 500
	font-size 28px
	color #333333
	text-transform uppercase
	margin 0

.page
	width 100%
	height auto

.overflow
	position fixed
	width 100%
	height 100vh
	background rgba(0, 0, 0, 0.5)
	z-index 10000
	top 0
	bottom 0
	left 0
	right 0
	display none
	opacity 0

.left_popup
	position: fixed
	height 100vh
	background #fff
	width 30%
	z-index 10001
	right -100%
	top 0
	bottom 0
	padding: 100px 45px 0 45px
	@media (max-width 1280px)
		width 45%
		padding: 10px 20px 0 20px
	@media (max-width 1024px)
		width 60%
	@media (max-width 600px)
		width 80%

.left_popup__text
	font-size 18px
	color #333333

.left_popup__form
	padding 0 !important
	display none

.content
	width 100%
	height auto
	position absolute
	top 0

.wrap
	position relative
	z-index 2
	width 100%
	height auto

.block_content
	max-width 100%
	&--hidden
		overflow hidden

.block_content__left
	width 50%
	&--relative
		position relative
	&--small
		width 10%
	@media (max-width 1023px)
		width 100%

.block_content__right
	width 50%
	&--large
		width 90%
	@media (max-width 1023px)
		width 100%

.media
	width 100%
	@media (max-width 1024px)
		display none

.media__block
	width 100%
	// iframe 
	// 	width 100%
	// 	height 100%
	// 	border none
	// 	#player
	// 		.vp-player-layout
	// 			width 100% !important
	// 			left 0 !important

.embed-container
	position relative
	padding-bottom 60%
	height 0
	overflow hidden
	max-width 100%
	height auto

.embed-container iframe,
.embed-container object,
.embed-container embed 
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	border none

.embed-container iframe h1,
.embed-container object h1,
.embed-container embed h1
	display none

.media__desc
	font-weight 500
	font-size 18px
	color #333333
	text-transform uppercase

@media (max-width: 1023px)
	.mobile_hidden
		display none
	.mobile_position
		position absolute !important
		top -100000%
	
.desctop_hidden
	display none !important
	@media (max-width: 1023px)
		display block !important

.title
	text-transform uppercase
	font-weight 500
	color #333333
	font-size 18px
	margin 0
	line-height 36px

.description
	font-size 26px
	color #333333
	line-height 36px

.text
	font-size 16px
	font-weight 400
	line-height 26px
	margin-top 0

@media (max-width: 1023px)
	#first-section
		margin-top 145px !important
	.title
		font-size 17px
	.description
		font-size 14px
	.text
		font-size 14px

.bold
	font-weight bold

.social_block
	position absolute
	bottom 40px
	right 40px
	display flex
	align-items center
	height 11px
	a
		margin-left 32px
	@media (max-width: 1023px)
		display none