.icon-test
	width 16px
	height 16px

.icon-star
	width 32px
	height 30px
	path 
		fill: #ffffff

.icon-logo
	width 283px
	height 15px
	path 
		fill: #ffffff
		transition: .3s
	&--black
		path 
			fill: #000000
			transition: .3s

.icon-lvk
	width 21px
	height 11px

.icon-lfb
	width 10px
	height 18px

.icon-linst
	width 18px
	height 18px

.icon-lyt
	width 21px
	height 16px

.icon-close
	width 19px
	height 19px
	position absolute
	right 10%
	top 5%
	cursor pointer