/* Fonts*/

--main-font = LatoRegular
--u = 'Ubuntu', sans-serif
// --condensed-font = 'Fira Sans Condensed', sans-serif
// --lbl = LatoBlack
// --lbli = LatoBlackItalic
// --lb = LatoBold
// --lbi = LatoBoldItalic
// --lhl = LatoHairline
// --lhli = LatoHairlineItalic
// --lhv = LatoHeavy
// --lhvi = LatoHeavyItalic
// --li = LatoItalic
// --ll = LatoLight
// --lli = LatoLightItalic
// --lm = LatoMedium
// --lmi = LatoMediumItalic
// --lr = LatoRegular
// --lsb = LatoSemibold
// --lsbi = LatoSemiboldItalic
// --lth = LatoThin
// --lthi = LatoThinItalic
// --swb = PT_SerifWebBold
// --swbi = PT_SerifWebBoldItalic
// --swi = PT_SerifWebItalic
// --swr = PT_SerifWebRegulars
// --scwi = PT_Serif_CaptionWebItalic
// --scwr = PT_Serif_CaptionWebRegular

/* Colors */
// --blue6 = #4a4a4a

// --blue6 = #0262a8
--white = #fff
// --gray4 = #9b9b9b
// --gray1 = #4c4c4c
// --gray5 = #cacaca
// --blue5 = #e6f3fc
// --blue = #2d679b
// --gray2 = #848484
--overlay-color = #004578
// --blue1 = #004578
// --gray3 = #888
// --blue2 = #005eae
// --blue4 = #a3c0dd
// --gray7 = #eee
// --gray7 = #eee
// --button-blue = #005eae
// --gray5 = #555
--red = #f80c0c


--blue1 = #004578
--blue2 = #005eae
--blue3 = #1d6da8
--blue4 = #a3c0dd
--blue5 = #e6f3fc
--blue6 = #0262a8
--blue7 = #2d679b
--blue8 = #eef5fb
--blue9 = #025fae
--blue10 = #a2d7ff

--gray1 = #4c4c4c
--gray2 = #848484
--gray3 = #888888
--gray4 = #9b9b9b
--gray5 = #cacaca
--gray6 = #555555
--gray7 = #4a4a4a
--gray8 = #eeeeee
--gray9 = #666666
--gray10 = #f2f2f2
--gray11 = #e9e9e9
--gray12 = #a8a8a8
--gray13 = #f1f1f1
--gray14 = #edeceb
--gray15 = #ababab
--gray16 = #707070
--gray17 = #e5e5e5

--black1 = #212121



--red1 = #bc0000
/* Rupture */

rupture.scale = 320px 480px 750px 940px 1140px 1300px 1920px 2560px
rupture.scale-names = 'x' 'xs' 's' 'm' 'l' 'xl' 'hd' '4k'

// mixins

// base-font-size = 16
// base-line-height = 24

// //This is the useful part: it compares the given value to the base values and calculates the correct output
// font-size($fontValue = base-font-size, $baseFontValue = base-font-size, $baseLineValue = base-line-height)
//   font-size   $fontValue px
//   font-size   ($fontValue / $baseFontValue) rem
//   line-height ($fontValue / $baseFontValue) * $baseLineValue
//   line-height ($baseLineValue/$baseFontValue) * ($fontValue / $baseFontValue) rem

//Test mixin, adjust the value to see it in action

/* Mixin font */

// base-font-size = 16
// base-line-height = 24

// font-size($fontValue = base-font-size, $baseFontValue = base-font-size, $baseLineValue = base-line-height)
//     font-size $fontValue px
//     font-size ($fontValue/$baseFontValue) rem
//     line-height ($fontValue/$baseFontValue) * $baseLineValue
//     line-height ($baseLineValue/$baseFontValue) * ($fontValue / $baseFontValue) rem

fz(value)
    font-size value
 
    if (value is inherit)
        /* нет значения */
    else
        font-size remify(value)

lh(value)
    line-height value
 
    if (value is inherit)
        /* нет значения */
    else
        line-height remify(value)
 
remify(value)
    u = unit(value)
 
    if (u is 'px')
        return unit(value/16, 'rem')
    else
        return unit(value, u)